body {
  background-color: #3c2e24;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  height: 150px;
  max-height: 150px;
  width: 100%;
  border-bottom: 2px solid #daa520;
  background-color: #366153;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > nav > ul {
  list-style: none;
  padding: 40px;
  display: flex;
  gap: 60px;
}
header > nav > ul > li > a {
  border: 2px solid #daa520;
  border-radius: 0px 30px/ 10px 10px;
  height: 30px;
  width: 150px;
  text-wrap: nowrap;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #daa520;
  text-decoration: none;
}
header > nav > ul > li:hover {
  background-color: #3e6d5d;
  cursor: pointer;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80svh;
}
.containerHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: groove;
  border-width: 15px;
  border-color: #daa520;
  width: 85vw;
  height: 70vh;
  font-size: 50px;
}
.containerHome > .textContainer {
  color: #daa520;
}
.quote p {
  animation: popUp 1s 0s ease forwards;
}
.containerHome > .textContainer > .quote {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 900px;
  height: 200px;
}
.name p {
  animation: popUp 1s 0s ease forwards;
}
.containerHome > .textContainer > .name {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 900px;
  height: 100px;
  transition: 0.5s ease;
}
@keyframes popUp {
  0% {
    opacity: 0%;
    transform: translateY(100%);
  }
  50% {
    opacity: 100%;
  }
  100% {
    transfrom: translateY(0%);
  }
}
.shelfbtnContainer {
  overflow: hidden;
}
.shelfbtnContainer > #shelfbtn {
  border: 2px solid #daa520;
  border-radius: 0px 30px/ 10px 10px;
  height: 55px;
  width: 150px;
  text-wrap: nowrap;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: #366153;
  color: #daa520;
  text-decoration: none;
  animation: btnPopUp 0.5s 1s ease forwards;
  opacity: 0%;
}
@keyframes btnPopUp {
  0% {
    opacity: 0%;
    transform: translateY(100%);
  } 
  100% {
    opacity: 100%;
    transfrom: translateY(0%);
  }
}
#shelfbtn:hover {
  background-color: #3e6d5d;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #f5f5f5;
  height: 100px;
  width: 75vw;
  border-radius: 20px 20px 0px 0px;
  background-color: #366153;
}
footer img {
  width: 90px;
  height: auto;
  filter: invert();
}
